
.product-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


.product-list th {
  background-color: #1976d2; /* Material Blue */
  color: white;
  padding: 10px 15px;
  text-align: left;
  font-weight: bold;
}


.product-list td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}


.product-list tr:hover {
  background-color: #f5f5f5;
}


.product-list tr:nth-child(even) {
  background-color: #fafafa;
}

.product-list tr:nth-child(odd) {
  background-color: #ffffff;
}

.product-list mat-paginator {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.product-list mat-icon {
  color: #388e3c; /* Green for 'check' */
  font-size: 20px;
}

.product-list mat-icon.close {
  color: #f44336;
}


.product-list button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-list button:hover {
  background-color: #f57c00;
}

.product-list {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.manageButton {
  background-color: #4CAF50; /* Green color */
  color: white; /* White text */
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  margin-top: 20px;
}
