<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" [formGroup]="form">
    <div>
      <label for="username">Username</label>
      <input [formControlName]="'username'" [type]="'text'" autofocus id="username" matInput name="username" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input [formControlName]="'password'" [type]="'password'" autocomplete="on" id="password" matInput name="password" required>
    </div>

    <button (click)="login()" type="submit">Login</button>
  </form>
</div>
